.nav-item >.dropdown-menu, .nav-item > .dropdown-toggle
{
width: 100%;
background-color: #343a40;
color: rgba(255, 255, 255, 0.5);
}

.nav-item >.dropdown-menu>button
{
background-color: #343a40;
color: rgba(255, 255, 255, 0.5);
}

.nav-item >.dropdown-menu >button:hover
{
background-color: #e7e7e7;
color: #555555;
}
