<div class="row">
  <div class="col-sm-12">
    <h3>
      <i class="fa fa-shopping-cart"></i>
      Your Shopping Basket
    </h3>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-sm-12">
    <h5>
      Sub Total ({{itemCount}} items):
      <span class="text--red font-weight-bold js-cart-total">{{(cart | async).grossTotal | currency:'USD':true}}</span>
    </h5>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-sm-12">
    <a class="btn btn-success btn-lg btn-block"
       [attr.disabled]="itemCount === 0 ? true : null"
       routerLink="/checkout">Proceed To Checkout</a>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    or
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <button type="button"
            class="btn btn-secondary btn-sm btn-block js-btn-empty-cart"
            (click)="emptyCart()"
            [attr.disabled]="itemCount === 0 ? true : null">
      Empty shopping basket
    </button>
  </div>
</div>
